<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Устанавливаем multipart/form-data -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Выводим каждое поле формы в отдельном параграфе -->
    {{ form.as_p }}
    <button type="submit">Загрузка</button>
</form>

<!-- Выводим уже созданные записи -->
{% for b in books %}
<img src="{{ b.image.url }}" width="200px">
<!-- Выводим размер картинки -->
<p>Оригинальный размер картинки  {{ b.image.width }}x{{ b.image.height }}</p>
<br/>
{% endfor %}

</body>
</html>